.grail_table {
  border-collapse: collapse;
}

.grail_table, .grail_table td, .grail_table th  {
  border: 1px solid #ccc;
  padding: 3px;
  text-align: left;
}

.grail_table th  {
    padding-top: 10px;
}

.grail_table td {
  text-indent: 20px;
  padding-bottom: 10px;
}
